body {
  margin: 10px;
}

.svg-icon {
  width: 100%;
  height: auto;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


#inputBar {
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
  position: absolute;
  right: 50px; 
}
#inputBar:focus{
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}




#searchButton {
  width: 35px;
  height: 35px;
  border: none;
  position: absolute;
  top: 12px;
  right: 10px;
  background-color: inherit;
}
#searchButton:hover {
    cursor: pointer;
}

#homeButton {
  width: 35px;
  height: 35px;
  border: none;
  position: absolute;
  top: 12px;
  left: 10px;
  background-color: inherit;
}